:root {
  --black: #000000;
  --middle-blue: #94a3b8;
  --semi-blue: #161c2d;
  --strong-blue: #0f172a;
  --gray-middle: #9ca3af;
  --gray-medium: #cbd5e1;
  --gray-light: #d1d5db;
  --gray-super-light: #f1f5f9;
  --gray-super-light2: #f3f4f6;
  --white-light: #f9fafb;
  --white: #ffffff;
  --green: #16a34a;
  --orange: #dc2626;
  --yellow: #eab308;
  --yellow2: #fbbf24;
}

body {
  background-color: var(--white-light);
}
/* .wrapper {
  width: 93%;
  margin: auto;
}
.box-all {
  width: 1270px;
  margin: auto;
} */

/*
|----------------------------------------------------------------
  Desktop 
|---------------------------------------------------------------- 
*/
.header {
  width: 98%;
  height: 74px;
  margin: auto;
}
.header__wrapper {
  width: 1210px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 74px;
}
.header__logo--img {
  width: 115px;
}
.header__logo--img:hover {
  cursor: pointer;
}
.header__nav {
  width: 827px;
  height: 74px;
}
.header__ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 74px;
}
.header_link {
  text-decoration: none;
  color: var(--black);
}
.header_link:hover {
  color: var(--green);
  cursor: pointer;
}
.header__li {
  font-size: 17px;
  font-weight: 500;
  font-style: normal;
  line-height: 24px;
  padding-left: 60px;
}

.header__auth {
  width: 224px;
  height: 74px;
}
.header__auth--all {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 74px;
}

.header__auth--signup-btn,
.header__auth--login-btn {
  background-color: var(--green);
  border: none;
  width: 110px;
  height: 40px;
  color: var(--white);
  font-size: 17px;
  line-height: 24px;
  border-radius: 30px;
}
.header__auth--signup-btn:hover,
.header__auth--login-btn:hover {
  background-color: var(--green);
  opacity: 0.8;
  cursor: pointer;
}
.hamburgerMenu {
  display: none;
}
.hamburgerMenu__list {
  display: none;
}

/* |------------------------ HERO ------------------------------------| */
.hero {
  width: 98%;
  margin: auto;
  height: 67vh;
  background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.5998774509803921) 0%,
      rgba(0, 0, 0, 0.41780462184873945) 35%,
      rgba(0, 0, 0, 0.2413340336134454) 100%
    ),
    url("../images/back1.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  display: flex;
  align-items: center;
}
.hero__wrapper {
  width: 1210px;
  margin: auto;
}
.hero__text {
  width: 100%;
  height: 144px;
}
.hero__title {
  font-size: 48px;
  font-weight: 700;
  color: var(--white);
  line-height: 72px;
}
.hero__title--green {
  color: var(--green);
}
.hero_description {
  width: 567px;
  height: 56px;
  margin-top: 24px;
  font-size: 20px;
  line-height: 28px;
  text-align: left;
  color: var(--white-light);
}

/* |------------------------ end HERO ------------------------------------| */

/* |------------------------ SEARCH ------------------------------------| */
.search {
  width: 98%;
  margin-top: -120px;
  z-index: 1;
  height: 157px;
}
.search__wrapper {
  width: 1210px;
  margin: auto;
  border-radius: 10px;
  background-color: transparent;
}

.search__buy-sell-rent {
  width: 269px;
  height: 73px;
  padding: 16px;
  border: 1px solid var(--gray-light);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
}
.search__buy button,
.search__sell button,
.search__rent button {
  width: 74px;
  height: 40px;
  padding: 8px 24px;
  background-color: transparent;
  border: none;
  font-size: 17px;
  line-height: 24px;
  color: var(--black);
  cursor: pointer;
}
.search__buy-sell-rent--active button {
  background-color: var(--green);
  width: 74px;
  height: 40px;
  padding: 8px 24px;
  border: none;
  font-size: 17px;
  line-height: 24px;
  color: var(--white);
  border-radius: 8px;
  text-align: center;
}
.search__form--all {
  width: 100%;
  height: 212px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
.search__form {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search__form--box {
  width: 316px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.search__form--text {
  width: 270px;
  margin-bottom: 13px;
}
.search__form--title {
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  color: var(--black);
}
.search__form--title small {
  color: var(--orange);
}
.search__form--input {
  width: 270px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search__form--input span {
  color: var(--green);
  font-size: 25px;
}
.search__form--input input,
.search__form--input select {
  width: 290px;
  padding: 20px 0;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 17px;
  font-family: 500;
  color: var(--gray-middle);
}
.search__form--button {
  width: 268px;
  padding-left: 10px;
}
.search__form--button button {
  background-color: var(--green);
  border: none;
  width: 100%;
  height: 48px;
  border-radius: 6px;
  margin-top: 15px;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  color: var(--white);
  cursor: pointer;
}
.search__form--button button:hover {
  background-color: var(--green);
  opacity: 0.8;
}
/* |------------------------ END SEARCH ------------------------------------| */
/* |------------------------  LISTINGS ------------------------------------| */
.listings {
  margin-top: 170px;
}
.listings__wrapper {
  width: 1230px;
  margin: auto;
}
.listings__group {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". . ."
    ". . .";
  width: 1210px;
  margin-bottom: 50px;
}
.listing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 390px;
  height: 533px;
  margin-bottom: 30px;
  border-left: 1px solid var(--gray-super-light);
  border-bottom: 1px solid var(--gray-medium);
  border-right: 1px solid var(--gray-super-light);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  position: relative;
}
.listing:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  transition: transform 2s ease-in-out;
}
.listing__image {
  width: 380px;
}
.listing__image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 2%;
  border-top-right-radius: 2%;
}
.listing__save {
  background-color: var(--gray-super-light2);
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.listing__save > .saved__listing {
  font-size: 17px;
  position: relative;
}
.listing__save > .addRemove::before {
  content: "";
  background-color: var(--orange);
  width: 7px;
  height: 11px;
  position: absolute;
  top: 3px;
  left: 4px;
  transform: rotate(-45deg);
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}
.listing__save > .addRemove::after {
  content: "";
  background-color: var(--orange);
  width: 7px;
  height: 11px;
  position: absolute;
  top: 3px;
  right: 4px;
  transform: rotate(45deg);
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}
.listing__titleDiv {
  width: 305px;
  height: 80px;
  margin: 20px;
}
.listing__titleDiv > a {
  text-decoration: none;
  color: var(--black);
}
.listing__title {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: normal;
  font-weight: 500;
}
.listing__title:hover {
  color: var(--green);
}
.listing__divider {
  width: 305px;
  margin: 20px;
  border-bottom: 1px solid var(--gray-light);
}
.listing__descriptions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 280px;
  margin: auto;
}
.listing__description {
  display: flex;
  justify-content: center;
  align-items: center;
}
.listing__description > .color_icon {
  color: var(--green);
}
.listing__quare,
.listing__bed,
.listing__quare {
  font-size: 17px;
  font-weight: 400;
  line-height: 24px;
  color: var(--black);
  padding-left: 5px;
}
.listing__priceRating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 305px;
  margin: auto;
}
.listing__price--group {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  width: 100px;
  height: 60px;
}
.listing__price--group__title,
.listing__rating--group__title {
  font-size: 17px;
  line-height: 24px;
  font-weight: 400;
  color: var(--gray-middle);
  margin-bottom: 10px;
}
.listing__price--group__price {
  font-size: 18px;
  line-height: 28px;
  color: var(--black);
  font-weight: 500;
}
.listing__rating--group {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
  height: 60px;
}
.listing__rating--group__stars {
  display: flex;
  justify-content: center;
  align-items: center;
}
.listing__rating--group__total {
  font-size: 17px;
}

/* |------------------------ END LISTINGS ------------------------------------| */

/* |------------------------ PAGINATION ------------------------------------| */
.pagination {
  width: 100%;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}
.pagination__wrapper {
  display: flex;
  justify-content: center;
  align-items: end;
}
.pagination__arrow,
.pagination__number {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: var(--white-light);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  cursor: pointer;
}
.pagination__arrow:hover,
.pagination__number:hover {
  background-color: var(--green);
}
.pagination__arrow > a,
.pagination__number > a {
  text-decoration: none;
  color: var(--gray-medium);
}
.pagination__arrow > a:hover,
.pagination__number > a:hover {
  text-decoration: none;
  color: var(--white);
}

.pagination__arrow > a > span,
.pagination__number > a > .pagination__number--count {
  font-size: 17px;
}
/* |------------------------ END PAGINATION ------------------------------------| */
/* |------------------------  HOW IT WORKS ------------------------------------|*/
.howitwork {
  width: 100%;
  margin-bottom: 100px;
}
.howitwork__wrapper {
  width: 1230px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.howitwork__introduction {
  max-width: 600px;
  width: 100%;
}
.howitwork__title {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  line-height: 45px;
  color: var(--black);
  height: 45px;
  margin-bottom: 16px;
}

.howitwork__describtion {
  width: 500px;
  margin: auto;
  text-align: center;
  font-size: 17px;
  font-weight: 400;
  line-height: 28px;
  color: var(--gray-middle);
  height: 55px;
}
.howitwork__steps {
  width: 1120px;
  height: 300px;
  margin-bottom: 32px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0px 0px;
}
.howitwork__evaluate {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.howitwork__icon {
  /* display: flex;
  justify-content: center;
  align-items: start; */
  width: 36px;
  height: 90px;
}
.howitwork__icon > span {
  font-size: 36px;
  height: 42px;
  color: var(--green);
}
.howitwork__textBundle {
  width: 273px;
  height: 28px;
}
.howitwork__textBundle h3 {
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  color: var(--black);
  text-align: center;
}
.howitwork__textBundle p {
  font-size: 17px;
  font-weight: 400;
  line-height: 28px;
  color: var(--gray-medium);
  text-align: center;
  margin-top: 12px;
}
/* |------------------------  END HOW IT WORKS ------------------------------------|*/

/* |------------------------  TESTIMONIALS ------------------------------------|*/
.testimonials {
  width: 100%;
  margin-bottom: 100px;
}
.testimonials__wrapper {
  width: 1230px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.testimonials__introduction {
  max-width: 600px;
  width: 100%;
}
.testimonials__title {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  line-height: 45px;
  color: var(--black);
  height: 45px;
  margin-bottom: 16px;
}

.testimonials__describtion {
  width: 500px;
  margin: auto;
  text-align: center;
  font-size: 17px;
  font-weight: 400;
  line-height: 28px;
  color: var(--gray-middle);
  height: 55px;
}

.testimonials__fromClients {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 350px;
}
.testimonials__text {
  width: 100%;
  height: 120px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.testimonials__text--quoteStart {
  font-size: 90px;
  transform: rotate(-180deg);
  position: absolute;
  top: -60px;
  left: -80px;
  color: var(--gray-medium);
}
.testimonials__text--quoteEnd {
  font-size: 90px;
  position: absolute;
  bottom: -60px;
  right: -80px;
  color: var(--gray-medium);
}
.testimonials__text > p {
  font-size: 20px;
  line-height: 28px;
  color: var(--gray-middle);
  font-weight: 400;
  font-style: italic;
  text-align: center;
}
.testimonials__image {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 350px;
}
.testimonials__image > img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.testimonials__image > h5 {
  font-size: 17px;
  font-weight: 400;
  line-height: 26px;
  color: var(--black);
  margin-top: 10px;
}
.testimonials__image > p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: var(--gray-middle);
}
/* |------------------------  END TESTIMONIALS ------------------------------------|*/

/* |------------------------  QUESTION ------------------------------------|*/
.question {
  width: 100%;
  margin-bottom: 100px;
}
.question__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.question__introduction {
  max-width: 600px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.question__title {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  line-height: 45px;
  color: var(--black);
  height: 45px;
  margin-bottom: 16px;
}

.question__describtion {
  width: 500px;
  margin: auto;
  text-align: center;
  font-size: 17px;
  font-weight: 400;
  line-height: 28px;
  color: var(--gray-middle);
  height: 55px;
}
.question__introduction > a {
  text-decoration: none;
  margin-top: 20px;
}
.question__introduction > a > button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--green);
  border: none;
  width: 130px;
  height: 40px;
  color: var(--white);
  font-size: 17px;
  line-height: 24px;
  border-radius: 8px;
  cursor: pointer;
}
.question__introduction > a > button:hover {
  opacity: 0.8;
}
.question__introduction > a > button > span {
  font-size: 19px;
  margin: 0 5px;
}
/* |------------------------  END QUESTION ------------------------------------|*/
/* |------------------------   NEWS LETTER ------------------------------------|*/
.newsletter {
  width: 100%;
  margin-bottom: 100px;
}
.newsletter__wrapper {
  max-width: 1120px;
  background-color: var(--gray-super-light);
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 134px;
  border-radius: 10px;
  padding: 0 20px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
.newsletter__text {
  width: 513px;
  height: 45px;
}
.newsletter__text h4 {
  font-size: 30px;
  font-weight: 500;
  line-height: 45px;
  color: var(--black);
  line-height: 45px;
}
.newsletter__text p {
  font-size: 17px;
  font-weight: 500;
  line-height: 45px;
  line-height: 28px;
  color: var(--gray-medium);
}
.newsletter__input {
  width: 512px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.newsletter__input input {
  width: 388px;
  height: 46px;
  background-color: transparent;
  padding-left: 5px;
  border: none;
  outline: nono;
}
.newsletter__input button {
  width: 124px;
  height: 46px;
  background-color: var(--green);
  border: none;
  color: var(--white);
  border-radius: 50px;
}
/* |------------------------  END NEWS LETTER ------------------------------------|*/
/* |------------------------  FOOTER ------------------------------------|*/
.footer {
  background-color: var(--strong-blue);
  width: 100%;
  height: 530px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer__wrapper {
  width: 1120px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0px 50px;
  height: 438px;
  align-items: center;
}
.footer__logo {
  width: 353px;
  height: 254px;
}
.footer__logo > a > img {
  width: 120px;
}
.footer__logo p {
  font-size: 17px;
  line-height: 28px;
  font-family: 400;
  color: var(--white-light);
  height: 55px;
  margin-top: 24px;
}
.footer__company {
  width: 161px;
  height: 254px;
}
.footer__company--title > h4 {
  font-weight: 600px;
  line-height: 26px;
  color: var(--white);
  font-size: 17px;
  text-align: center;
}
.footer__company__list {
  width: 161px;
  height: 160px;
  margin-top: 24px;
  text-align: center;
}
.footer__company__list > a {
  text-decoration: none;
  list-style: none;
  color: var(--white-light);
  width: 161px;
  height: 24px;
}
.footer__company__list > a > li {
  width: 161px;
  height: 24px;
  font-size: 17px;
  font-weight: 400;
  line-height: 24px;
}
.footer__company2 {
  width: 257px;
  height: 254px;
}
.footer__company__adress--location {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 24px;
  width: 257px;
  height: 108px;
}
.footer__company__adress--contact,
.footer__company__adress--call {
  margin-top: 24px;
  width: 254px;
  height: 24px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer__company__adress {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  width: 257px;
  height: 70px;
  margin-top: 24px;
  background-color: #9ca3af;
}
hr {
  color: var(--gray-super-light2);
  width: 100%;
  opacity: 0.1;
}
.footer__company__adress--icon > span {
  color: var(--green);
}
.footer__company__adress--adress {
  color: var(--white);
}
.footer__company__adress--adress h4 {
  font-size: 17px;
  font-weight: 400;
  line-height: 24px;
  color: var(--white);
  height: 76px;
  margin-bottom: 8px;
}
.footer__wrapper2 {
  width: 1120px;
  height: 91px;
  padding: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__designedBy > p {
  color: var(--white);
}
/* |------------------------  END FOOTER ------------------------------------|*/

/************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************
****************************************************************
|--------------------------------------------------------------
MEDIA QUERIES
|--------------------------------------------------------------
****************************************
****************************************************************
*/
/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) and (max-width: 1518px) {
  /* CSS */
  /* body {
    background-color: red;
  } */

  /* |------------------------ HERO ------------------------------------| */

  .hero {
    width: 98%;
    margin: auto;
    height: 100vh;
  }

  /* |------------------------ SEARCH ------------------------------------| */
  .search {
    width: 100%;
    margin-top: -100px;
    z-index: 1;
    height: 150px;
  }

  /* |------------------------ END SEARCH ------------------------------------| */
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  /* CSS */
  /* body {
    background-color: green;
  } */
  /* |------------------------ HEADER ------------------------------------| */
  .header__wrapper {
    width: 1000px;
  }
  .header__nav {
    width: 527px;
  }
  /* |------------------------ END HEADER ------------------------------------| */
  /* |------------------------ HERO ------------------------------------| */
  .hero {
    width: 98%;
    margin: auto;
    height: 100vh;
  }
  .hero__wrapper {
    width: 900px;
  }
  .hero__text {
    width: 900px;
    padding-left: 10px;
  }

  .hero_description {
    width: 400px;
  }
  /* |------------------------ END HERO ------------------------------------| */
  /* |------------------------ SEARCH ------------------------------------| */
  .search__wrapper {
    width: 900px;
  }
  .search__form {
    width: 850px;
  }
  .search__form--box {
    width: 200px;
  }
  .search__form--text {
    width: 200px;
  }
  .search__form--input {
    width: 200px;
  }
  .search__form--input input,
  .search__form--input select {
    width: 190px;
  }
  .search__form--button {
    width: 238px;
  }
  /* |------------------------ END SEARCH ------------------------------------| */
  /* |------------------------  LISTINGS ------------------------------------| */

  .listings__wrapper {
    width: 900px;
    margin: auto;
  }
  .listings__group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      ". ."
      ". .";
    width: 900px;
    margin: auto;
  }

  /* |------------------------  END LISTINGS ------------------------------------| */

  /* |------------------------  HOW IT WORKS ------------------------------------|*/
  .howitwork__wrapper {
    width: 900px;
  }
  .howitwork__steps {
    width: 900px;
  }

  /* |------------------------  END HOW IT WORKS ------------------------------------|*/

  /* |------------------------  TESTIMONIALS ------------------------------------|*/

  .testimonials__wrapper {
    width: 670px;
  }

  /* |------------------------  END TESTIMONIALS ------------------------------------|*/

  /* |------------------------   NEWS LETTER ------------------------------------|*/
  .newsletter__wrapper {
    width: 900px;
  }
  /* |------------------------  END NEWS LETTER ------------------------------------|*/
  /* |------------------------  FOOTER ------------------------------------|*/
  .footer__wrapper {
    width: 900px;
    gap: 0px 0px;
  }
  .footer__logo {
    width: 250px;
    height: 254px;
  }
  .footer__company {
    width: 160px;
    height: 254px;
  }
  .footer__company__adress--location {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 24px;
    width: 257px;
    height: 108px;
  }
  .footer__company__adress--contact,
  .footer__company__adress--call {
    margin-top: 24px;
    width: 254px;
    height: 24px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .footer__company__adress {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 257px;
    height: 70px;
    margin-top: 24px;
  }
  hr {
    color: var(--gray-super-light2);
    width: 100%;
    opacity: 0.1;
    width: 900px;
  }
  .footer__company__adress--icon > span {
    color: var(--green);
  }
  .footer__company__adress--adress {
    color: var(--white);
  }
  .footer__company__adress--adress h4 {
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    color: var(--white);
    height: 76px;
    margin-bottom: 8px;
  }
  .footer__wrapper2 {
    width: 900px;
  }

  /* |------------------------  END FOOTER ------------------------------------|*/
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  /* CSS */
  /* body {
    background-color: blue;
  } */
  /* |------------------------ HEADER ------------------------------------| */
  .header {
    display: none;
  }
  /* HAMBURGER MENU */
  .hamburgerMenu {
    width: 98%;
    height: 74px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hamburgerMenu__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 670px;
    margin: auto;
  }
  .hamburgerMenu__logo--img {
    width: 115px;
  }
  .hamburgerMenu__group {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hamburgerMenu__menu span,
  .hamburgerMenu__close span {
    font-size: 34px;
  }
  .hamburgerMenu__menu {
    display: block;
    cursor: pointer;
  }
  .hamburgerMenu__close {
    display: none;
    cursor: pointer;
  }
  .hamburgerMenu__list {
    background-color: white;
    width: 670px;
    margin: auto;
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 74px;
    z-index: 1;
  }
  .hamburgerMenu__list > a {
    text-decoration: none;
    color: var(--black);
    list-style: none;
  }
  .hamburgerMenu__list > a > li {
    font-size: 17px;
    font-weight: 500;
    font-style: normal;
    line-height: 24px;
    padding: 10px 30px;
  }
  .hamburgerMenu__list > a > li button {
    background-color: var(--green);
    border: none;
    width: 110px;
    height: 40px;
    color: var(--white);
    font-size: 17px;
    line-height: 24px;
    border-radius: 30px;
  }
  /* END HAMBURGER MENU */
  /* |------------------------ END HEADER ------------------------------------| */
  /* |------------------------ HERO ------------------------------------| */
  .hero {
    width: 98%;
    margin: auto;
    height: 100vh;
  }
  .hero__wrapper {
    width: 670px;
  }
  .hero__text {
    width: 670px;
    padding-left: 10px;
  }

  .hero_description {
    width: 400px;
  }
  /* |------------------------ END HERO ------------------------------------| */
  /* |------------------------ SEARCH ------------------------------------| */
  .search {
    width: 100%;
    margin-top: -110px;
    z-index: 1;
    height: 150px;
  }
  .search__wrapper {
    width: 670px;
  }
  .search__form--all {
    display: block;
    height: auto;
    padding: 20px 20px;
  }
  .search__form {
    width: 670px;
    display: block;
    height: 450px;
  }

  .search__form--box {
    display: block;
    width: 620px;
    margin: 20px 0;
  }
  .search__form--text {
    width: 600px;
    height: 20px;
  }
  .search__form--input {
    width: 600px;
    display: block;
  }
  .search__form--input input,
  .search__form--input select {
    width: 490px;
  }

  /* |------------------------ END SEARCH ------------------------------------| */
  /* |------------------------  LISTINGS ------------------------------------| */

  .listings {
    margin-top: 570px;
  }
  .listings__wrapper {
    width: 670px;
  }
  .listing__save {
    top: 30px;
    right: 13px;
  }
  .listings__group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      ". ."
      ". .";
    width: 670px;
    margin: auto;
  }
  .listing {
    width: 330px;
    height: 533px;
  }

  .listing__image {
    width: 320px;
  }

  /* |------------------------  END LISTINGS ------------------------------------| */

  /* |------------------------  HOW IT WORKS ------------------------------------|*/
  .howitwork__wrapper {
    width: 670px;
  }
  .howitwork__steps {
    width: 670px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      ". ."
      ". .";
    height: 600px;
  }
  /* |------------------------  END HOW IT WORKS ------------------------------------|*/
  /* |------------------------  TESTIMONIALS ------------------------------------|*/

  .testimonials__wrapper {
    width: 670px;
  }
  /* |------------------------  END TESTIMONIALS ------------------------------------|*/

  /* |------------------------   NEWS LETTER ------------------------------------|*/
  .newsletter__wrapper {
    width: 570px;
    flex-direction: column;
    height: 210px;
    padding: 20px 0;
  }
  .newsletter__text {
    width: 413px;
    height: 145px;
    margin-bottom: 50px;
  }
  .newsletter__text h4 {
    text-align: center;
  }
  .newsletter__text p {
    text-align: center;
  }
  .newsletter__input {
    width: 412px;
  }
  /* |------------------------  END NEWS LETTER ------------------------------------|*/
  /* |------------------------  FOOTER ------------------------------------|*/
  .footer {
    height: 790px;
    display: block;
  }
  .footer__wrapper {
    width: 670px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      ". ."
      ". .";
    height: 638px;
    align-items: center;
  }
  .footer__logo {
    width: 320px;
    height: 254px;
  }
  .footer__company {
    width: 320px;
    height: 254px;
  }
  .footer__company__list {
    width: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .footer__company__adress--location {
    width: 320px;
  }
  .footer__company__adress--contact,
  .footer__company__adress--call {
    width: 320px;
    height: 24px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  hr {
    width: 670px;
    margin-top: 50px;
  }
  .footer__company2 {
    width: 320px;
  }
  .footer__wrapper2 {
    width: 670px;
    margin: auto;
  }
  /* |------------------------  END FOOTER ------------------------------------|*/
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  /* CSS */
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  /* CSS */
  /* body {
    background-color: yellow;
  } */
  /* |------------------------ HEADER ------------------------------------| */
  .header {
    display: none;
  }
  /* HAMBURGER MENU */
  .hamburgerMenu {
    width: 98%;
    height: 74px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hamburgerMenu__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 470px;
    margin: auto;
  }
  .hamburgerMenu__logo--img {
    width: 115px;
  }
  .hamburgerMenu__group {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hamburgerMenu__menu span,
  .hamburgerMenu__close span {
    font-size: 34px;
  }
  .hamburgerMenu__menu {
    display: block;
    cursor: pointer;
  }
  .hamburgerMenu__close {
    display: none;
    cursor: pointer;
  }
  .hamburgerMenu__list {
    background-color: white;
    width: 470px;
    margin: auto;
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 74px;
    z-index: 1;
  }
  .hamburgerMenu__list > a {
    text-decoration: none;
    color: var(--black);
    list-style: none;
  }
  .hamburgerMenu__list > a > li {
    font-size: 17px;
    font-weight: 500;
    font-style: normal;
    line-height: 24px;
    padding: 10px 30px;
  }
  .hamburgerMenu__list > a > li button {
    background-color: var(--green);
    border: none;
    width: 110px;
    height: 40px;
    color: var(--white);
    font-size: 17px;
    line-height: 24px;
    border-radius: 30px;
  }
  /* END HAMBURGER MENU */
  /* |------------------------ END HEADER ------------------------------------| */

  /* |------------------------ HERO ------------------------------------| */
  .hero {
    width: 98%;
    margin: auto;
    height: 90vh;
  }
  .hero__wrapper {
    width: 470px;
    margin: auto;
  }

  .hero__text {
    width: 470px;
    padding-left: 10px;
  }
  .hero__title {
    font-size: 38px;
  }

  .hero_description {
    width: 400px;
  }

  /* |------------------------ END HERO ------------------------------------| */

  /* |------------------------ SEARCH ------------------------------------| */
  .search {
    width: 100%;
    margin-top: -110px;
    z-index: 1;
    height: 150px;
  }
  .search__wrapper {
    width: 470px;
  }
  .search__form--all {
    display: block;
    height: auto;
    padding: 20px 20px;
  }
  .search__form {
    width: 420px;
    display: block;
    height: 590px;
  }

  .search__form--box {
    display: block;
    width: 420px;
    height: 130px;
    margin-bottom: 20px;
  }
  .search__form--text {
    width: 400px;
    height: 20px;
  }
  .search__form--input {
    width: 400px;
    display: block;
  }
  .search__form--input input,
  .search__form--input select {
    width: 400px;
  }

  /* |------------------------ END SEARCH ------------------------------------| */
  /* |------------------------  LISTINGS ------------------------------------| */
  .listings {
    margin-top: 670px;
  }
  .listings__wrapper {
    width: 470px;
  }
  .listing__save {
    top: 35px;
    right: 15px;
  }
  .listings__group {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "."
      "."
      "."
      "."
      "."
      ".";
    width: 450px;
    margin: auto;
  }
  .listing {
    width: 330px;
    height: 533px;
    margin: auto;
  }

  .listing__image {
    width: 310px;
  }

  /* |------------------------  END LISTINGS ------------------------------------| */
  /* |------------------------  PAGINATION ------------------------------------| */
  .pagination {
    width: 420px;
    margin: auto;
    height: 100px;
  }
  /* |------------------------  PAGINATION ------------------------------------| */

  /* |------------------------  HOW IT WORKS ------------------------------------|*/
  .howitwork {
    margin-top: 50px;
  }
  .howitwork__wrapper {
    width: 470px;
  }
  .howitwork__introduction {
    max-width: 370px;
    width: 100%;
  }

  .howitwork__describtion {
    width: 370px;
  }
  .howitwork__steps {
    width: 470px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "."
      "."
      ".";
    height: 900px;
  }

  /* |------------------------  END HOW IT WORKS ------------------------------------|*/

  /* |------------------------  TESTIMONIALS ------------------------------------|*/

  .testimonials__wrapper {
    width: 470px;
  }
  .testimonials__introduction {
    max-width: 400px;
    width: 100%;
  }
  .testimonials__describtion {
    width: 400px;
  }
  .testimonials__text--quoteStart {
    font-size: 70px;
    transform: rotate(-180deg);
    position: absolute;
    top: -60px;
    left: -60px;
    color: var(--gray-medium);
  }
  .testimonials__text--quoteEnd {
    font-size: 70px;
    position: absolute;
    bottom: -60px;
    right: -60px;
    color: var(--gray-medium);
  }
  /* |------------------------  END TESTIMONIALS ------------------------------------|*/

  /* |------------------------  QUESTION ------------------------------------|*/

  .question__introduction {
    max-width: 400px;
  }
  .question__describtion {
    width: 400px;
  }
  /* |------------------------  END QUESTION ------------------------------------|*/

  /* |------------------------   NEWS LETTER ------------------------------------|*/
  .newsletter__wrapper {
    width: 470px;
    flex-direction: column;
    height: 210px;
    padding: 20px 0;
  }
  .newsletter__text {
    width: 413px;
    height: 145px;
    margin-bottom: 50px;
  }
  .newsletter__text h4 {
    text-align: center;
  }
  .newsletter__text p {
    text-align: center;
  }
  .newsletter__input {
    width: 412px;
  }
  /* |------------------------  END NEWS LETTER ------------------------------------|*/
  /* |------------------------  FOOTER ------------------------------------|*/
  .footer {
    justify-content: space-between;
    height: 1280px;
  }
  .footer__wrapper {
    width: 470px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "."
      "."
      "."
      ".";
    height: 1180px;
    align-items: center;
  }
  .footer__logo {
    width: 100%;
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .footer__logo p {
    width: 350px;
  }
  .footer__company {
    width: 470px;
    height: 200px;
    margin-bottom: 20px;
  }
  .footer__company__list {
    width: 470px;
    margin-top: 0px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .footer__company__adress--location {
    justify-content: center;
    width: 470px;
    height: 140px;
  }
  .footer__company__adress--contact,
  .footer__company__adress--call {
    /* margin-top: 24px; */
    width: 470px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  hr {
    width: 470px;
    margin-top: 50px;
  }
  .footer__company2 {
    width: 470px;
    height: 280px;
    /* margin-bottom: 100px; */
  }
  .footer__company__adress--icon > span {
    /* color: var(--green); */
    padding-right: 15px;
  }
  .footer__wrapper2 {
    width: 470px;
    margin: auto;
  }
  /* |------------------------  END FOOTER ------------------------------------|*/
}

/*  */

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  /* CSS */
  /* body {
    background-color: purple;
  } */
  .header {
    display: none;
  }
  /* HAMBURGER MENU */
  .hamburgerMenu {
    width: 98%;
    height: 74px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hamburgerMenu__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 420px;
    margin: auto;
  }
  .hamburgerMenu__logo--img {
    width: 115px;
  }
  .hamburgerMenu__group {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hamburgerMenu__menu span,
  .hamburgerMenu__close span {
    font-size: 34px;
  }
  .hamburgerMenu__menu {
    display: block;
    cursor: pointer;
  }
  .hamburgerMenu__close {
    display: none;
    cursor: pointer;
  }
  .hamburgerMenu__list {
    background-color: white;
    width: 470px;
    margin: auto;
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 74px;
    z-index: 1;
  }
  .hamburgerMenu__list > a {
    text-decoration: none;
    color: var(--black);
    list-style: none;
  }
  .hamburgerMenu__list > a > li {
    font-size: 17px;
    font-weight: 500;
    font-style: normal;
    line-height: 24px;
    padding: 10px 30px;
  }
  .hamburgerMenu__list > a > li button {
    background-color: var(--green);
    border: none;
    width: 110px;
    height: 40px;
    color: var(--white);
    font-size: 17px;
    line-height: 24px;
    border-radius: 30px;
  }
  /* END HAMBURGER MENU */
  /* |------------------------ END HEADER ------------------------------------| */

  /* |------------------------ HERO ------------------------------------| */
  .hero {
    width: 98%;
    margin: auto;
    height: 60vh;
  }
  .hero__wrapper {
    width: 300px;
    margin: auto;
  }

  .hero__text {
    width: 300px;
    padding-left: 10px;
  }
  .hero__title {
    font-size: 23px;
    line-height: 30px;
  }

  .hero_description {
    width: 300px;
    font-size: 15px;
  }

  /* |------------------------ END HERO ------------------------------------| */

  /* |------------------------ SEARCH ------------------------------------| */
  .search {
    width: 100%;
    margin-top: 0px;
    z-index: 1;
    height: 150px;
  }
  .search__wrapper {
    width: 300px;
  }
  .search__form--all {
    display: block;
    height: auto;
    padding: 20px 20px;
  }
  .search__form {
    width: 250px;
    display: block;
    height: 590px;
  }

  .search__form--box {
    display: block;
    width: 150px;
    height: 130px;
    margin-bottom: 20px;
  }
  .search__form--text {
    width: 150px;
    height: 20px;
  }
  .search__form--input {
    width: 150px;
    display: block;
  }
  .search__form--input input,
  .search__form--input select {
    width: 150px;
  }

  .search__buy-sell-rent {
    width: 209px;
  }
  .search__buy button,
  .search__sell button,
  .search__rent button {
    width: 54px;
    height: 40px;
    padding: 8px 10px;
  }

  /* |------------------------ END SEARCH ------------------------------------| */
  /* |------------------------  LISTINGS ------------------------------------| */
  .listings {
    margin-top: 670px;
  }
  .listings__wrapper {
    width: 300px;
  }
  .listing__save {
    top: 55px;
    right: 15px;
  }
  .listings__group {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "."
      "."
      "."
      "."
      "."
      ".";
    width: 300px;
    margin: auto;
  }
  .listing {
    width: 300px;
    height: 533px;
    margin: auto;
  }

  .listing__image {
    width: 290px;
  }
  .listing__priceRating {
    width: 275px;
  }
  .listing__titleDiv {
    width: 250px;
    height: 80px;
    margin: auto;
  }

  /* |------------------------  END LISTINGS ------------------------------------| */

  /* |------------------------  PAGINATION ------------------------------------| */
  .pagination {
    margin: 10px;
  }
  /* |------------------------  PAGINATION ------------------------------------| */

  /* |------------------------  HOW IT WORKS ------------------------------------|*/
  .howitwork {
    margin-top: 50px;
  }
  .howitwork__wrapper {
    width: 300px;
  }
  .howitwork__introduction {
    max-width: 300px;
    width: 100%;
  }
  .howitwork__describtion {
    width: 300px;
  }
  .howitwork__steps {
    width: 300px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "."
      "."
      ".";
    height: 900px;
  }

  /* |------------------------  END HOW IT WORKS ------------------------------------|*/

  /* |------------------------  TESTIMONIALS ------------------------------------|*/

  .testimonials__wrapper {
    width: 300px;
  }
  .testimonials__introduction {
    max-width: 300px;
    width: 100%;
  }
  .testimonials__describtion {
    width: 280px;
  }

  .testimonials__fromClients {
    max-width: 300px;
  }
  .testimonials__text--quoteStart {
    font-size: 30px;
    transform: rotate(-180deg);
    position: absolute;
    top: -20px;
    left: 5px;
    color: var(--gray-medium);
  }
  .testimonials__text--quoteEnd {
    font-size: 30px;
    position: absolute;
    bottom: -20px;
    right: 5px;
    color: var(--gray-medium);
  }
  .testimonials__image {
    max-width: 300px;
  }

  /* |------------------------  END TESTIMONIALS ------------------------------------|*/

  /* |------------------------  QUESTION ------------------------------------|*/
  .question__title {
    height: 90px;
  }
  .question__introduction {
    max-width: 300px;
  }
  .question__describtion {
    width: 300px;
    height: 90px;
  }
  /* |------------------------  END QUESTION ------------------------------------|*/

  /* |------------------------   NEWS LETTER ------------------------------------|*/
  .newsletter {
    width: 100%;
    margin-bottom: 100px;
    background-color: red;
    height: 350px;
  }
  .newsletter__wrapper {
    width: 300px;
    flex-direction: column;
    height: 290px;
    padding: 20px 0;
    background-color: #dc2626;
  }
  .newsletter__text {
    width: 300px;
    height: 145px;
    margin-bottom: 50px;
  }
  .newsletter__text h4 {
    background-color: royalblue;
    width: 200px;
    margin: auto;
    text-align: center;
  }
  .newsletter__text p {
    text-align: center;
  }
  .newsletter__input {
    width: 300px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: red;
  }
  .newsletter__input input {
    width: 300px;
    height: 46px;
    background-color: transparent;
    padding-left: 5px;
    border: none;
    outline: none;
    margin-bottom: 20px;
  }
  .newsletter__input button {
    width: 300px;
    height: 46px;
    background-color: var(--green);
    border: none;
    color: var(--white);
    border-radius: 50px;
  }
  /* |------------------------  END NEWS LETTER ------------------------------------|*/
  /* |------------------------  FOOTER ------------------------------------|*/
  .footer {
    justify-content: space-between;
    height: 1280px;
  }
  .footer__wrapper {
    width: 300px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "."
      "."
      "."
      ".";
    height: 1180px;
    align-items: center;
  }
  .footer__logo {
    width: 300px;
    height: 170px;
    display: block;
    background-color: red;
  }
  .footer__logo p {
    width: 300px;
    height: 100px;
    text-align: center;
  }
  .footer__company {
    width: 300px;
    height: 210px;
  }
  .footer__company--title > h4 {
    width: 200px;
    margin: auto;
    background-color: #eab308;
    margin-bottom: 20px;
  }
  .footer__company__list {
    width: 300px;
    margin-top: 0px;
    display: block;
  }
  .footer__company__list > a {
    text-decoration: none;
    list-style: none;
    color: var(--white-light);
    width: 300px;
    height: 24px;
  }
  .footer__company__list > a > li {
    width: 300px;
    height: 34px;
  }
  .footer__company__adress--location {
    justify-content: center;
    width: 300px;
    height: 140px;
    background-color: rebeccapurple;
  }
  .footer__company__adress--contact,
  .footer__company__adress--call {
    /* margin-top: 24px; */
    width: 300px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
  }
  hr {
    width: 300px;
    margin-top: 50px;
  }
  .footer__company2 {
    width: 300px;
    height: 280px;
    background-color: gray;
    display: block;
  }
  .footer__company__adress--icon > span {
    padding-right: 15px;
  }

  .footer__wrapper2 {
    width: 250px;
    margin: auto;
    display: block;
  }
  .footer__designedBy > p {
    color: var(--white);
    background-color: red;
    text-align: center;
  }
  /* |------------------------  END FOOTER ------------------------------------|*/
}
